@charset "UTF-8";

/* variaveis */

    :root {
        --cor01: #15181d;
        --cor02: #171a1f;
        --cor03: #1c1f24;
        --cor04: #21282e;
        --cor05: #373b3f;
        --tamanho_lateral01: 60px;
        --tamanho_lateral02: 80px;
    }

/* /variaveis */





/* globais */

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: var(--cor01);
            max-width: 1350px;
            margin: auto;
            color: #fff;
        }
    
/* /globais */
    
    
    
#casca {
    background-image: url(../img/background06.png);
    background-repeat: no-repeat;
    height: 500px;
    width: 1000px;
    z-index: 1;
    position: absolute;
    transform: translate(-500px, -100px) rotate(140deg) scale(130%);
}


/* Header */

    header #cabecalho {
        background-color: var(--cor03);
        display: flex;
        justify-content: end;
        list-style: none;
        padding: 35px var(--tamanho_lateral01);
    }
    header #cabecalho #select {
        color: #fff;
    }
    header #cabecalho a {
        margin: 0 30px;
        color: #ffffff50;
        text-decoration: none;
    }
    header #cabecalho a:hover {
        color: #fff;
        transition: .5s;
    }
    
/* /Header */





/* Main */

    main {
        background-color: var(--cor03);
        display: flex;
        z-index: -2;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* parte01 */

        main #parte01 {
            max-width: 1100px;
            background-color: var(--cor02);
            color: #fff;
            margin: 40px var(--tamanho_lateral02);
            padding: 50px;
            display: flex;
            z-index: 2;
            box-shadow: 0 0 5px 5px #00000040;
            box-shadow: 0 0 10px 10px #00000040;
            box-shadow: 0 0 20px 20px #00000040;
            box-shadow: 0 0 40px 40px #00000040;
        }
        


        /* tema */

            main #parte01 #tema {
                width: 100%;
            }
            main #parte01 #tema img {
                filter: invert(100%);
                height: 20px;
                margin-right: 5px;
                transform: translateY(3px);
            }
            main #parte01 #tema span {
                font-size: 20px;
            }
            main #parte01 #tema h1 {
                font-size: 4em;
                width: 500px;
                margin: 20px 0;
            }
            main #parte01 #tema .demo {
                display: flex;
            }
            main #parte01 #tema .demo .img_demo img {
                filter: invert(0);
                margin-right: 20px;
                width: 130px;
                height: 130px;
            }
        
        /* /tema */



        /* descricao */
            
            main #parte01 #descricao {
                padding-left: 80px;
            }
            main #parte01 #descricao p {
                line-height: 35px;
                color: #ffffff80;
                max-width: 900px;
                font-size: 1.1em;
                margin-bottom: 35px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            main #parte01 #descricao .botao {
                display: flex;
                justify-content: center;
            }
            main #parte01 #descricao .botao button {
                text-align: center;
                width: 100%;
                height: 60px;
                border: none;
                border-radius: 1px;
                color: #fff;
                background-color: var(--cor04);
                font-size: 15px;
            }
            main #parte01 #descricao .botao button:hover {
                cursor: pointer;
                background-color: var(--cor05);
            }

        /* /descricao */

    /* /parte01 */
    


    /* Raiz */

        main #raiz {
            background-image: url(../img/roots02.png);
            background-repeat: no-repeat;
            height: 400px;
            width: 500px;
            z-index: 3;
            position: absolute;
            transform: translate(362px, -1050px) scale(125%);
        }

    /* /Raiz */
    


    /* casca2 */

        main #casca2 {
            background-image: url(../img/background05.png);
            background-size: 100%;
            background-repeat: no-repeat;
            height: 768px;
            width:500px;
            position: absolute;
            z-index: 1;
            transform: translate(300px, -470px);
        }

    /* /casca2 */



    /* casca3 */

        main #casca3 {
            background-image: url(../img/background05.png);
            background-size: 90%;
            background-repeat: no-repeat;
            height: 768px;
            width:500px;
            z-index: 1;
            position: absolute;
            transform: translate(-320px, -150px);
        }

    /* /casca3 */
    


    /* titulo */

        main .titulo {
            margin: 160px 160px 100px 160px;
            font-size: 2em;
            text-align: center;
            z-index: 2;
        }

    /* titulo */



    /* parte02 */

        main #parte02 {
            display: flex;
            z-index: 2;
            flex-direction: column;
            align-items: center;
            background-color: var(--cor02);
            width: 700px;
            padding: 50px;
            box-shadow: 0 0 5px 0 #00000070;
            margin-top: 60px;
        }
        
        /* tipos */
        
            main #parte02 .tipos {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                width: 100%;
            }
            
            /* tipos01 */

                main #parte02 .tipos #tipos01 {
                    display: flex;
                    flex-direction: row;
                    height: 310px; /* altera a posição do <hr> */
                }

            /* /tipos01 */


            
            /* tipos02 */
            
                main #parte02 .tipos #tipos02 {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 310px; /* altera a posição do <hr> */
                }

            /* /tipos02 */


                
            /* tipos03 */

                main #parte02 .tipos #tipos03 {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 250px;
                }    

            /* /tipos03 */



            /* img_tipos */
            
                /* img_tipos01 */
            
                    main #parte02 .tipos .img_tipos #img_tipos01 {
                        background-image: url(../img/img17.jpeg);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        width: 333px;
                        height: 472px;
                        box-shadow: 0 0 5px 5px #000000f0;
                        box-shadow: 0 0 10px 10px #00000050;
                        box-shadow: 0 0 20px 20px #00000050;
                        box-shadow: 0 0 30px 30px #00000050;
                        transform: translate(-220px, -110px);
                    }

                /* /img_tipos01 */



                /* img_tipos02 */

                    main #parte02 .tipos .img_tipos #img_tipos02 {
                        background-image: url(../img/img16.jpeg);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        width: 333px;
                        height: 472px;
                        box-shadow: 0 0 5px 5px #00000050;
                        box-shadow: 0 0 10px 10px #00000050;
                        box-shadow: 0 0 20px 20px #00000050;
                        box-shadow: 0 0 30px 30px #00000050;
                        transform: translate(590px, -100px);
                    }
                    
                /* /img_tipos02 */
                    
                    

                /* img_tipos03 */

                    main #parte02 .tipos .img_tipos #img_tipos03 {
                        background-image: url(../img/img14.jpeg);
                        background-repeat: no-repeat;
                        background-position: center bottom;
                        background-size: cover;
                        width: 333px;
                        height: 472px;
                        box-shadow: 0 0 5px 5px #00000050;
                        box-shadow: 0 0 10px 10px #00000050;
                        box-shadow: 0 0 20px 20px #00000050;
                        box-shadow: 0 0 30px 30px #00000050;
                        transform: translate(-220px, -110px);
                    }

                /* /img_tipos03 */

            /* /img _tipos */
            
            
            
            /* descricao_tipos */

                main #parte02 .tipos .descricao_tipos {
                    transform: translateX(-180px);
                }
                main #parte02 .tipos .descricao_tipos h2 {
                    font-size: 2.4em;
                    margin-bottom: 30px;
                }
                main #parte02 .tipos .descricao_tipos p {
                    font-size: 1.1em;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 100;
                    color: #ffffff80;
                    width: 500px;
                    line-height: 30px;
                    margin-bottom: 30px;
                }
                main #parte02 .tipos .descricao_tipos a {
                    color: #fff;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    text-decoration: none; 
                    font-weight: 600;
                }
                
                /* descricao_tipos02 */
                
                    main #parte02 .tipos .descricao_tipos #descricao_tipos02 {
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        width: 100%;
                        text-align: end;
                        transform: translateX(-100px);
                    }
                
                /* /descricao_tipos02 */
                
                
                
                /* descricao_tipos03 */
                
                    main #parte02 .tipos .descricao_tipos #descricao_tipos03 {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        width: 100%;
                    }
                    
                /* /descricao_tipos03 */
                
            /* /descricão_tipos */
                
        /* /tipos */

        main #parte02 hr {
            width: 400px;
        }

    /* /parte02 */


    /* fundo */
        main #fundo {
            background-image: url(../img/base12.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            z-index: 1;
            width: 700px;
            height: 646px;
            transform: translate(-325px, 920px);
        }
    /* /fundo */


    /* parte03 */
        
        main #parte03 {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-around;
            z-index: 2;
            width: 800px;
        }

        /* materiais */

            main #parte03 .materiais {
                height: 180px;
                width: 180px;
                border-radius: 50%;
                margin: 15px;
                overflow: hidden;
                box-shadow: 0 0 5px 5px #00000050;
                box-shadow: 0 0 10px 10px #00000050;
                box-shadow: 0 0 20px 20px #00000050;
            }
            
            /* textura (geral) */

                main #parte03 .materiais div {
                    background-position: center center;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.2em;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    text-shadow: 0 0 4px #000;
                    transition: transform 0.2s ease-in-out;
                }
                main #parte03 .materiais div:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
                main #parte03 .materiais div p {
                    transition: .2s ease-in-out;
                }
                
                main #parte03 .materiais div:hover p {
                    font-size: .9em;
                    transition: .2s ease-in-out;
                }
                
            /* /textura (geral) */



            /* textura01 */

                main #parte03 .materiais #textura01 {
                    background-image: url(../img/img_maple_wood_cut.jpg);
                }

            /* /textura01 */



            /* textura02 */

                main #parte03 .materiais #textura02 {
                    background-image: url(../img/img_walnut_wood_cut.jpg);
                }

            /* /textura02 */



            /* textura03 */

                main #parte03 .materiais #textura03 {
                    background-image: url(../img/img_cherry_wood_cut.jpeg);
                }

            /* /textura03 */



            /* textura04 */

                main #parte03 .materiais #textura04 {
                    background-image: url(../img/img_pine_wood_cut.jpeg);
                }

            /* /textura04 */



            /* textura05 */

                main #parte03 .materiais #textura05 {
                    background-image: url(../img/img_oak_wood_cut.jpg);
                }

            /* /textura05 */



            /* textura06 */

                main #parte03 .materiais #textura06 {
                    background-image: url(../img/img_cedar_wood_cut.jpg);
                }

            /* /textura06 */

        /* /materiais */

    /* /parte03 */





    /* parte04 */

        main #parte04 {
            z-index: 2;
            margin-top: 200px;
            padding: 60px;
            display: flex;
            justify-content: center;
            width: 600px;
            background-color: var(--cor03);
            box-shadow: 0 0 5px 5px #00000050;
            box-shadow: 0 0 10px 10px #00000050;
            box-shadow: 0 0 20px 20px #00000050;
            box-shadow: 0 0 40px 40px #00000050;
        }

        /* contato */

            main #parte04 .contato {
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                width: 100%;
            }
            main #parte04 .contato h1 {
                font-size: 3em;
                margin-bottom: 30px;
            }

            /* info */
            
                main #parte04 .contato .info {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                main #parte04 .contato .info div {
                }
                
                /* info_pessoais */
                
                main #parte04 .contato .info .info_pessoais {
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                }
                main #parte04 .contato .info .info_pessoais input {
                        background-color: var(--cor01);
                        padding: 12px;
                        width: calc(50% - 35px);
                        margin-bottom: 20px;
                        border: none;
                        outline: none;
                    }
                    
                /* /info_pessoais */


                
                /* mensagem */

                main #parte04 .contato .info .mensagem textarea {
                        background-color: var(--cor01);
                        padding: 12px;
                        border: none;
                        width: calc(100% - 25px);
                        height: 100px;
                        resize: none;
                        outline: none;
                    }

                /* /mensagem */
                
            /* /info */

        /* /contato */

    /* /parte04 */

/* /Main */





/* Footer */

    footer {
        background-color: var(--cor03);
        height: 100px;
    }

/* /Footer */